node_modules
dist
dist-ssr
build
*.local
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
logs
*.log
npm-debug.log*
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
coverage
.cache
sw.js
workbox-*.js